@charset "UTF-8";
/*CSS para pc e telas específicas*/
@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        margin: 2px;
    }

    main {
        width: 768px;
    }

}

@media screen and (min-width: 1200px) {

    *{
        margin: 0px;
        padding: 0px;
    }

    body, html{
        width: 100%;
    }

    menu > ul > li > a {
        text-align: center;
        border-radius: 20px;
        margin: 5px;
        margin-left: 65px;
        padding: 15px;
        background-color: azure;
    }

    header {
        padding: 5px;
        width: 60vw;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 15px;
    }

    #titulos > h1 {
        display: block;
        border-bottom: 10px;
        font-size: 2.5em;
        padding: 10px;
    }

    #inicio {
        background: url('../Imagens/backgroundcabecalho1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 60vw;
        padding: 50px;
        margin-bottom: 50px;
    }

    main {
        
        width: 60vw;
        padding: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #mcontatos {
        width: 60vw;
        padding: 40px;
    }

    #contatos > h2 {
        font-size: 22px;
    }

    #aprendizado {
        padding: 5px;
    }


    #aprendizado > ul {
        columns: 3;
        margin: auto;
    }

    #aprendizado > ul > li {
        font-size: 18px;
        text-align: center;
    }

    #projetos{
        width: 60vw;
    }

    #videos > video {
        display: block;
        width: 30vw;
        margin: auto;
    }
    

    #desc {
        margin-top: 60px;
        width: 60vw;
    }

    #mgraduacao {
        width: 60vw;
    }

    #skills > ul > li {
        font-size: 22px;
        line-height: 2.5em;
        text-align: center;
    }
    
    #skills > ul {
        padding: 5px;
        margin: 25px;
        columns: 3;
    }

    #mobjetivos {
        margin-top: 60px;
        width: 60vw;
    }

    #diplomas {
        width: 60vw;
    }

    #mfinal {
        width: 60vw;
        margin-top: 60px;
    }

    footer {
        background-color: rgba(255, 255, 255, 0.842);;
        margin: auto;
        border-radius: 15px;
        padding: 5px;
        width: 40vw;
        text-align: center;
    }
}