@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1em;
}

html,body {
    width: 100vw;
    background: url('../Imagens/background6.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

span#burguer {
    background-color: rgba(255, 255, 255, 0.89);
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    background-color: green;
    color: black;
}

p {
    text-align: justify;
    text-indent: 30px;
}

menu {
    display: none;
}

menu > ul {
    list-style: none; 
    padding: 13px;
}

menu > ul > li > a{
    color: black;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    display: block;
    border-top: 2px solid gray;
    margin: 15px;
}

menu > ul > li > a:hover {
    background-color: green;
}

#foto{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    padding:10px;
}

header {
    background: url('../Imagens/backgroundcabecalho.jpg');
    background-size: cover;
    padding: 40px;
    margin-bottom: 10px;
}

#titulos > h1 {
    background-color: rgba(255, 255, 255, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border-bottom: 8px solid black;   
}

main {
    background-color: rgba(255, 255, 255, 0.733);
    width: 90vw;
    margin: auto;
    border-radius: 15px;
}

h1, h2 , h3 {
    text-align: center;
}

#contatos > h2 > a {
    text-decoration: none;
}

#contatos > h2 > a:hover {
    text-decoration: underline;
    background-color: rgba(11, 196, 35, 0.596);
  }

#contatos {
    padding: 30px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#mcontatos {
    padding: 18px;
    margin-bottom: 15px;
}

#contatos > h2 {
    text-align: center;
    font-size: 19px;
    padding: 10px;
}

.descricao {
    margin-top: 15px;
    font-size: 20px;
    margin: 30px;
    text-align: center;
    line-height: 2em;
}

#diplomas {
    margin-top: 15px;
}

#certificacoes > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    line-height: 3em;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    
}

#carouselExampleAutoplaying {
    margin: auto;
    display: block;
    padding: 30px;
}

#graduacao {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    line-height: 2em;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}



#skills > ul > li {
    list-style-type: '\2714\00A0\00A0';
    font-size: 15px;
    text-align: center;
    line-height: 2em;
}

#skills > ul {
    list-style-position: inside;
    columns: 2;
    padding: 5px;
    margin: 10px;
}

#aprendizado {
    padding: 5px;
    margin-bottom: 5px;
}

#aprendizado > ul {
    list-style-position: inside;
    columns: 1;
    padding: 15px;
    margin: 10px;
    display: block;
}

#aprendizado > ul > li {
    line-height: 2.5em;
    font-size: 18px;
    text-align: center;
    
}

#logostec {
    text-align: center;
    margin: 20px;
}

#projetos {
    margin-top: 15px;
}

#videos > video {
    display: block;
    padding: 10px;
    width: 100%;
}

#final {
    text-align: justify;
    font-size: 20px;
    line-height: 2em;
    margin: 15px;
    padding: 15px;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.842);;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    width: 90vw;
    text-align: center;
}